/* style.scss */
.admin-page {
    margin: .5rem;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: .2rem solid #ccc;
    border-radius: 1rem;
  }
  .main{
    font-family: Arial, sans-serif;
    padding: 20px;
    border: .1rem solid #ccc;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem ;
    text-align: center;
  }
  
  .content {
    margin-top: 20px;
  }
  
  button {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: .5rem;
    border-radius: 10rem;
  }
  
  button:hover {
    background-color: #ffe494;
    color: #333;
  }
  
  .add-dish-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 1rem;
   
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  #logoImg{
    width:15em;
    height:15em;
    border-radius: 2rem;
    margin: 1rem;
  }
  #foodImg{
    border-radius: 2rem;
    margin: 1rem;
    width:15em;
    height:15em;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #28a745;
  }
  // En tu archivo style.scss



  button[type="submit"]:hover {
    background-color: #528b5f;
  }
  main{
    margin-bottom: 1rem;
  }
  .lists {
    border: .1rem solid #ccc;
    border-radius: 1rem;
    
    .restaurants-list {
      margin: 1rem;
    }
    
    .dishes-list {
      margin: 1rem;
    }
    
    table {
      width: 100%;
      border-radius: 1rem;
      background-color: #5788bd;
      color: white;  /* Agregado: Color de texto para los encabezados */
      thead {
        th {
          border-left: .1rem solid #ccc;
          border-bottom: .1rem solid #ccc;
          padding: 5px;
          color: white;  /* Agregado: Color de texto para los encabezados */
        }
      }
      
      tbody {
        tr {
          td {
            color: white;  /* Agregado: Color de texto para los encabezados */
            border-left: .1rem solid #ccc;
            padding: 1rem;
          }
        }
        #RestaurantName{
          cursor:pointer;
        }
      }
    }
  }
  /* Estilo predeterminado para el icono, inicialmente oculto */


/* Estilo para mostrar el icono cuando el usuario pasa el cursor sobre la fila */
tr:hover .icon-container {
  display: inline-block; /* Muestra el icono */
}

/* Estilo para el icono */
.edit-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

/* Transición suave al mostrar el icono */
.icon-container {
  transition: display 0.3s ease;
}

  @media(max-width:655px){
    .neno {
      display: none;
    }
  }
  @media(max-width:480px){
    .none{
      display: none;
    }
    #logoImg{
      margin: 1rem;
      width:10em;
      height:10em;
      border-radius: 1rem;
    }
    #foodImg{
      border-radius: 1rem;
      margin: 1rem;
      width:10em;
      height:10em;
    }
  }