/* style.scss */
.admin-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: .2rem solid #ccc;
    border-radius: 1rem;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem ;
    text-align: center;
  }
  
  .content {
    margin-top: 20px;
  }
  
  button {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: .5rem;
    border-radius: 10rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .add-dish-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #28a745;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  .lists {
    border: .1rem solid #ccc;
    border-radius: 1rem;
    
    .restaurants-list {
      margin: 1rem;
    }
    
    .dishes-list {
      margin: 1rem;
    }
    
    table {
      width: 100%;
      border-radius: 1rem;
      background-color: #5788bd;
      color: white;  /* Agregado: Color de texto para los encabezados */

      
      thead {
        th {
          border-left: .1rem solid #ccc;
          border-bottom: .1rem solid #ccc;
          padding: 5px;
          color: white;  /* Agregado: Color de texto para los encabezados */
        }
      }
      
      tbody {
        tr {
          td {
            color: white;  /* Agregado: Color de texto para los encabezados */
            border-left: .1rem solid #ccc;
            padding: 5px;
          }
        }
        #RestaurantName{
          cursor:pointer;
        }
      }
    }
  }
  