*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    margin: 2rem;
}
.form{
    // background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    gap: 25px;

}
.createB{
    width: 358px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 15px;
    margin-top: 200px; 
}
.mb-3{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    input{
        width: 360px;
        height: 30px;
        border: none;
        border-bottom: 1px solid black;
    }   
}
.crear{
    border-radius: 10px;
    background: var(--Main-color, #ffe031);
}
.crear:hover{
    background: var(--Main-color, #ffe031);
}
.redireccion{
    display: flex;
    justify-content: center;
    &__link{
        color: #ffe031;
        cursor: pointer;
    }
    &__link:hover{
        text-decoration: underline;
    }
}
