.orderContainer {
  height: 87vh;
}

.orderPrimary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h4 {
  color: #414141;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 15px 0 30px 0;
}

.orderSecundary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .divSection {
    display: flex;
    gap: 10px;

    .imgRestaurant {
      align-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .span1 {
        color: #414141;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.3px;
      }
      .span2 {
        color: #a7a7a7;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.3px;
      }
    }
  }

  .status {
    color: #77df52;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    cursor: pointer;
  }

  .status2 {
    color: #f51c1c;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    cursor: pointer;
  }
}
