.restaurantC {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    &_header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        position: relative;

        #logo {
            width: 6.75rem;
            height: 2.56rem;
        }

        #back {
            width: 1.5625rem;
            height: 1.5625rem;
            position: absolute;
            left: 0;
            cursor: pointer;
        }
    }

    &_subheader {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        width: 100;


        &_image {
            display: flex;
            flex-direction: row;
            width: 40%;

            img {
                width: 8.56rem;
                height: 6.625rem;
                border-radius: 5px;
                overflow: hidden;
                /* Oculta cualquier parte de la imagen que exceda el contenedor */
                border-bottom-right-radius: 100px;
            }
        }

        &_info {
            display: flex;
            flex-direction: column;
            width: 60%;
            &_footer{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
    &_buttons{
        display:flex;
        width: 100%;
    }
    &_plates{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        width:100% ;
        margin-top: 1rem;
        justify-content: space-around;
        &_plate{
            background-color: white;
            display:flex;
            flex-direction: column;
            width: fit-content;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            cursor:pointer ;
            
            img{
                width: 154px;
                height: 110px;
                border-radius: 5px;
            }
            h5{
                font-weight: 400px;
                font-size: 0.80rem;
            }
            p{
                font-weight: 400px;
                font-size: 0.875rem;
                color: #A7A7A7; 
            }
            
        }
    }
}