// perfil-edit.scss

.header {
    display: flex;
    gap: 36%;
    margin-left: 10px;
    margin-top: 30px;
  
    .B {
      font-size: x-large;
    }
  
    .imageEdit {
      text-align: center;
  
      .figurEdit {
        position: relative;
  
        img {
          width: 150px;
          height: 150px;
          border-radius: 30%;
        }
      }

    .C {
      position: absolute;
      font-size: xx-large;
      top: 11.5rem;
      left: 46%;   
  }
    }
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
  
    .inputEdit {
      height: 44px;
      border-radius: 10px;
      margin: .5rem;
      background: var(--complementary-color-light-gray, #F2F2F2);
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      input {
        margin:1rem;
        font-size: large;
        border: none;
        background: var(--complementary-color-light-gray, #F2F2F2);
      }
    }
    
    .buttonEdit {
      margin: .5rem;     
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      border: none;
      padding: 1rem;
    }
    .bi{
      margin-left: 1rem !important;
      font-size: x-large;


    }
  }
   
    
  @media(max-width:768px){
    .C {
      top: 12rem !important;
      left: 72% !important;   
  }
  }
  