.pagos{
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputEditP{
    width: 340px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    input{
        border: none;
        background: var(--complementary-color-light-gray, #F2F2F2);
    }

}
.buttonAdd{
    margin-top: 20px;
    color: #fff;
    border-radius: 10px;
    background: var(--Main-color, #ffe031);
    height: 40px;
    width: 200px;
}
